	#section--K-TUI2VK6zE {

	    background-color: #ffffff;
	    padding-top: 0px;
	    padding-bottom: 0px;
	    margin-top: 10%;
	    margin-bottom: 0px;
	}

	@media only screen and (min-width: 48em) {
	    #section--K-TUI2VK6zE {
	        padding-top: 0px;
	        padding-bottom: 0px;
	        margin-top: 10%;
	        margin-bottom: 0px;
	    }
	}

	#section--GYnTyT2JP3U {

	    background-color: #ffffff;
	    padding-top: 0px;
	    padding-bottom: 0px;
	    margin-top: 0px;
	    margin-bottom: 0px;
	}

	@media only screen and (min-width: 48em) {
	    #section--GYnTyT2JP3U {
	        padding-top: 0px;
	        padding-bottom: 0px;
	        margin-top: 0px;
	        margin-bottom: 0px;
	    }
	}

	#section--6aAryfvqczc {

	    background-color: #ffffff;
	    padding-top: 0px;
	    padding-bottom: 0px;
	    margin-top: 5%;
	    margin-bottom: 5%;
	}

	@media only screen and (min-width: 48em) {
	    #section--6aAryfvqczc {
	        padding-top: 0px;
	        padding-bottom: 0px;
	        margin-top: 5%;
	        margin-bottom: 5%;
	    }
	}

	#section--8dakSB1esOE {

	    background-color: #ffffff;
	    padding-top: 0px;
	    padding-bottom: 0px;
	    margin-top: 10%;
	    margin-bottom: 0px;
	}

	@media only screen and (min-width: 48em) {
	    #section--8dakSB1esOE {
	        padding-top: 0px;
	        padding-bottom: 0px;
	        margin-top: 5%;
	        margin-bottom: 0px;
	    }
	}

	#section--EgB_vnLsOC8 {

	    background-color: #ffffff;
	    padding-top: 0px;
	    padding-bottom: 0px;
	    margin-top: 0px;
	    margin-bottom: 0px;
	}

	@media only screen and (min-width: 48em) {
	    #section--EgB_vnLsOC8 {
	        padding-top: 0px;
	        padding-bottom: 0px;
	        margin-top: 0px;
	        margin-bottom: 0px;
	    }
	}

	#section--2bYXU_8Te4E {

	    background-color: #ffffff;
	    padding-top: 0px;
	    padding-bottom: 0px;
	    margin-top: 0px;
	    margin-bottom: 0px;
	}

	@media only screen and (min-width: 48em) {
	    #section--2bYXU_8Te4E {
	        padding-top: 0px;
	        padding-bottom: 0px;
	        margin-top: 0px;
	        margin-bottom: 0px;
	    }
	}

	#section--NDbB-aER5e0 {

	    background-color: #ffffff;
	    padding-top: 0px;
	    padding-bottom: 0px;
	    margin-top: 10%;
	    margin-bottom: 0px;
	}

	@media only screen and (min-width: 48em) {
	    #section--NDbB-aER5e0 {
	        padding-top: 0px;
	        padding-bottom: 0px;
	        margin-top: 5%;
	        margin-bottom: 0px;
	    }
	}

	#section--n8S_3qAxigU {

	    background-color: #ffffff;
	    padding-top: 0px;
	    padding-bottom: 0px;
	    margin-top: 5%;
	    margin-bottom: 0px;
	}

	@media only screen and (min-width: 48em) {
	    #section--n8S_3qAxigU {
	        padding-top: 0px;
	        padding-bottom: 0px;
	        margin-top: 5%;
	        margin-bottom: 0px;
	    }
	}

	#section--zf999SiakXg {

	    background-color: #ffffff;
	    padding-top: 0px;
	    padding-bottom: 0px;
	    margin-top: 0px;
	    margin-bottom: 0px;
	}

	@media only screen and (min-width: 48em) {
	    #section--zf999SiakXg {
	        padding-top: 0px;
	        padding-bottom: 0px;
	        margin-top: 0px;
	        margin-bottom: 0px;
	    }
	}

	#section--Px-iuDEBP1I {

	    background-color: #ffffff;
	    padding-top: 0px;
	    padding-bottom: 0px;
	    margin-top: 10%;
	    margin-bottom: 0px;
	}

	@media only screen and (min-width: 48em) {
	    #section--Px-iuDEBP1I {
	        padding-top: 0px;
	        padding-bottom: 0px;
	        margin-top: 10%;
	        margin-bottom: 0px;
	    }
	}

	#section--f0LFUAH0lZ0 {

	    background-color: #ffffff;
	    padding-top: 0px;
	    padding-bottom: 0px;
	    margin-top: 5%;
	    margin-bottom: 0px;
	}

	@media only screen and (min-width: 48em) {
	    #section--f0LFUAH0lZ0 {
	        padding-top: 0px;
	        padding-bottom: 0px;
	        margin-top: 5%;
	        margin-bottom: 0px;
	    }
	}

	#section--ZZq-PmVkhrQ {
	    background-color: #ffffff;
	    padding-top: 0px;
	    padding-bottom: 0px;
	    margin-top: 10%;
	    margin-bottom: 0px;
	}

	@media only screen and (min-width: 48em) {
	    #section--ZZq-PmVkhrQ {
	        padding-top: 0px;
	        padding-bottom: 0px;
	        margin-top: 5%;
	        margin-bottom: 0px;
	    }
	}

	#section--4Q9AuKy-j50 {

	    background-color: #ffffff;
	    padding-top: 0px;
	    padding-bottom: 0px;
	    margin-top: 0px;
	    margin-bottom: 0px;
	}

	@media only screen and (min-width: 48em) {
	    #section--4Q9AuKy-j50 {
	        padding-top: 0px;
	        padding-bottom: 0px;
	        margin-top: 0px;
	        margin-bottom: 0px;
	    }
	}

	#section--7HJsrSWxndQ {

	    background-color: #ffffff;
	    padding-top: 0px;
	    padding-bottom: 0px;
	    margin-top: 10%;
	    margin-bottom: 0px;
	}

	@media only screen and (min-width: 48em) {
	    #section--7HJsrSWxndQ {
	        padding-top: 0px;
	        padding-bottom: 0px;
	        margin-top: 5%;
	        margin-bottom: 0px;
	    }
	}


	#section--8SL1QKBvnis {

	    background-color: #ffffff;
	    padding-top: 0px;
	    padding-bottom: 0px;
	    margin-top: 5%;
	    margin-bottom: 5%;
	}

	@media only screen and (min-width: 48em) {
	    #section--8SL1QKBvnis {
	        padding-top: 0px;
	        padding-bottom: 0px;
	        margin-top: 5%;
	        margin-bottom: 5%;
	    }
	}

	#section--JB8AWV5ZaOs {

	    background-color: #ffffff;
	    padding-top: 0px;
	    padding-bottom: 0px;
	    margin-top: 0px;
	    margin-bottom: 0px;
	}

	@media only screen and (min-width: 48em) {
	    #section--JB8AWV5ZaOs {
	        padding-top: 0px;
	        padding-bottom: 0px;
	        margin-top: 0px;
	        margin-bottom: 0px;
	    }
	}

	#section--gRf5oWh30lY {

	    background-color: #ffffff;
	    padding-top: 0px;
	    padding-bottom: 0px;
	    margin-top: 10%;
	    margin-bottom: 0px;
	}

	@media only screen and (min-width: 48em) {
	    #section--gRf5oWh30lY {
	        padding-top: 0px;
	        padding-bottom: 0px;
	        margin-top: 10%;
	        margin-bottom: 0px;
	    }
	}

	#header_hic .background {
	    background-color: #3B3B3B;

	    opacity: 0.850;
	}

	#header_hic .background_video {
	    opacity: 1;
	    background-color: #3B3B3B;
	}

	#header_hic .background_video video {
	    opacity: 0.850 !important;
	}

	#header_hic .background_video_mov {
	    opacity: 1;
	    background-color: #3B3B3B;
	}

	#header_hic .background_video_mov video {
	    opacity: 0.850 !important;
	}