$primary: #D90429;
$secondary: #2B2D42;
$black: #000;

$primaryShade: #EF233C;
$secondaryShade: #8D99AE;

$lightShade: #EDF2F4;
$white: #ffffff;

$paragraphLink: #0027ff;


$screen-xxs: 320px;
$screen-xs: 480px;
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-xxl: 1366px;
$screen-xxxl: 1600px;